# Data preparation

### Imports

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import display, HTML

### Constant values

In [19]:
countries_base = ["Hungary", "Slovakia", "Romania", "Poland", "Croatia", "Serbia", "Montenegro", "Abania", "Czechia", "Bulgaria", "Greece", "North Macedonia"
             , "Moldova", "Lithuania", "Latvia", "Bosnia and Herzegovina"]
countries_ref = ["Germany", "Austria", "Switzerland", "Slovenia"]

countries = countries_base + countries_ref

## World Bank Group: Vol 1

In [41]:
def create_ranking(df, year):
    filtered_df = df[df['Country Name'].isin(countries)]
    country_df = filtered_df[['Country Name', year]]

    country_ranking = country_df.sort_values(by = year)
    return country_ranking

### Alcohol consumption per capita
https://data.worldbank.org/indicator/SH.ALC.PCAP.LI

In [44]:
df = pd.read_csv('datasets/alcohol_consumption_per_capita.csv')
year = '2010'
year2 = '2020'

country_ranking = create_ranking(df, year)
display(country_ranking)
country_ranking = create_ranking(df, year2)
display(country_ranking)

               Country Name   2010
157         North Macedonia   4.32
24   Bosnia and Herzegovina   5.74
89                   Greece   8.72
99                  Croatia   9.48
214                  Serbia   9.93
162              Montenegro  10.40
21                 Bulgaria  10.66
101                 Hungary  10.84
145                  Latvia  10.99
222                Slovenia  11.14
190                  Poland  11.30
37              Switzerland  11.32
150                 Moldova  11.43
14                  Austria  12.23
55                  Germany  12.41
54                  Czechia  13.33
143               Lithuania  14.05
201                 Romania  17.62

               Country Name   2020
157         North Macedonia   4.36
89                   Greece   5.81
24   Bosnia and Herzegovina   5.87
99                  Croatia   7.65
101                 Hungary   9.93
37              Switzerland  10.07
222                Slovenia  10.41
150                 Moldova  11.08
14                  Austria  11.51
21                 Bulgaria  11.62
190                  Poland  11.66
55                  Germany  11.84
54                  Czechia  11.99
143               Lithuania  12.10
145                  Latvia  12.87
201                 Romania  16.80
162              Montenegro    NaN
214                  Serbia    NaN

### Mortality Rate attributed to Air pollution
https://data.worldbank.org/indicator/SH.STA.AIRP.P5?most_recent_value_desc=false
(Only data from 2019 is available)

In [47]:
df = pd.read_csv('datasets/mortality_rate_air_pollution.csv')
year = '2019'

country_ranking = create_ranking(df, year)
display(country_ranking)

               Country Name   2019
37              Switzerland   12.8
55                  Germany   21.1
14                  Austria   21.9
222                Slovenia   22.5
89                   Greece   29.5
99                  Croatia   40.8
54                  Czechia   41.5
143               Lithuania   52.8
190                  Poland   53.9
101                 Hungary   55.0
145                  Latvia   56.5
21                 Bulgaria   81.3
150                 Moldova   87.3
201                 Romania   87.3
214                  Serbia   88.0
157         North Macedonia  114.9
24   Bosnia and Herzegovina  135.9
162              Montenegro  144.2

### Suicide Mortality Rate
https://data.worldbank.org/indicator/SH.STA.SUIC.P5?most_recent_value_desc=false

In [51]:
df = pd.read_csv('datasets/suicide_mortality_rate.csv')
year = '2010'
year2 = '2019'

country_ranking = create_ranking(df, year)
display(country_ranking)
country_ranking = create_ranking(df, year2)
display(country_ranking)

               Country Name  2010
89                   Greece   3.5
157         North Macedonia   7.1
24   Bosnia and Herzegovina  10.5
21                 Bulgaria  12.4
55                  Germany  13.2
201                 Romania  13.2
37              Switzerland  14.5
54                  Czechia  15.0
14                  Austria  16.1
214                  Serbia  17.2
99                  Croatia  18.3
190                  Poland  18.6
162              Montenegro  20.3
150                 Moldova  20.5
222                Slovenia  20.7
145                  Latvia  22.5
101                 Hungary  25.5
143               Lithuania  37.2

               Country Name  2019
89                   Greece   5.1
157         North Macedonia   9.4
21                 Bulgaria   9.7
201                 Romania   9.7
24   Bosnia and Herzegovina  10.9
190                  Poland  11.3
214                  Serbia  11.4
54                  Czechia  12.2
55                  Germany  12.3
37              Switzerland  14.5
14                  Austria  14.6
150                 Moldova  14.7
99                  Croatia  16.4
101                 Hungary  16.6
222                Slovenia  19.8
145                  Latvia  20.1
162              Montenegro  21.0
143               Lithuania  26.1

### Physicians per capita
https://data.worldbank.org/indicator/SH.MED.PHYS.ZS?name_desc=false

In [56]:
df = pd.read_csv('datasets/physicians_per_capita.csv')
year = '2010'
year2 = '2019'

country_ranking = create_ranking(df, year)
display(country_ranking)
country_ranking = create_ranking(df, year2)
display(country_ranking)

               Country Name   2010
24   Bosnia and Herzegovina  1.749
162              Montenegro  2.022
190                  Poland  2.156
222                Slovenia  2.420
201                 Romania  2.497
150                 Moldova  2.645
157         North Macedonia  2.646
99                  Croatia  2.816
101                 Hungary  2.872
214                  Serbia  2.916
145                  Latvia  3.101
54                  Czechia  3.599
21                 Bulgaria  3.683
55                  Germany  3.734
37              Switzerland  3.810
143               Lithuania  3.895
14                  Austria  4.829
89                   Greece  5.803

               Country Name   2019
162              Montenegro  2.709
222                Slovenia  3.224
145                  Latvia  3.263
150                 Moldova  3.327
99                  Croatia  3.466
101                 Hungary  3.493
54                  Czechia  4.119
37              Switzerland  4.350
55                  Germany  4.391
143               Lithuania  4.481
14                  Austria  5.318
89                   Greece  6.247
21                 Bulgaria    NaN
24   Bosnia and Herzegovina    NaN
157         North Macedonia    NaN
190                  Poland    NaN
201                 Romania    NaN
214                  Serbia    NaN

### Maternal Mortality Rate
https://data.worldbank.org/indicator/SP.DYN.IMRT.IN?name_desc=false

In [57]:
df = pd.read_csv('datasets/maternal_mortality_rate.csv')
year = '2010'
year2 = '2019'

country_ranking = create_ranking(df, year)
display(country_ranking)
country_ranking = create_ranking(df, year2)
display(country_ranking)

               Country Name  2010
190                  Poland   3.0
89                   Greece   3.0
54                  Czechia   4.0
14                  Austria   6.0
157         North Macedonia   6.0
222                Slovenia   6.0
55                  Germany   6.0
99                  Croatia   7.0
162              Montenegro   7.0
37              Switzerland   8.0
24   Bosnia and Herzegovina   8.0
143               Lithuania  10.0
21                 Bulgaria  10.0
214                  Serbia  14.0
101                 Hungary  15.0
150                 Moldova  18.0
201                 Romania  22.0
145                  Latvia  25.0

               Country Name  2019
190                  Poland   2.0
222                Slovenia   3.0
157         North Macedonia   3.0
54                  Czechia   3.0
55                  Germany   4.0
99                  Croatia   5.0
14                  Austria   5.0
24   Bosnia and Herzegovina   5.0
162              Montenegro   6.0
89                   Greece   6.0
37              Switzerland   7.0
143               Lithuania   7.0
21                 Bulgaria   7.0
214                  Serbia  10.0
201                 Romania  10.0
150                 Moldova  12.0
101                 Hungary  14.0
145                  Latvia  22.0