In [79]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [80]:
gini_data_df = pd.read_csv('./processed_datasets/gini_data.csv')
gini_data_df

,country,alpha3,1991,1992,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Albania,ALB,NaN,NaN,NaN,NaN,NaN,27.0,NaN,NaN,...,34.6,32.8,33.7,33.1,30.1,30.1,29.4,NaN,NaN,NaN
1,Argentina,ARG,46.8,45.5,44.8,45.9,48.9,49.5,49.1,50.7,...,41.8,NaN,42.3,41.4,41.7,43.3,42.7,42.4,40.7,NaN
2,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.5,32.4,32.5,33.6,34.4,30.0,25.1,27.9,27.9,NaN
3,Australia,AUS,NaN,NaN,NaN,NaN,32.6,NaN,NaN,NaN,...,34.4,NaN,33.7,NaN,34.3,NaN,NaN,NaN,NaN,NaN
4,Austria,AUT,NaN,NaN,NaN,30.8,29.9,29.3,29.1,31.3,...,30.5,30.5,30.8,29.7,30.8,30.2,29.8,30.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,"Venezuela, RB",VEN,NaN,42.1,NaN,NaN,47.2,NaN,NaN,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Viet Nam,VNM,NaN,35.7,NaN,NaN,NaN,NaN,35.4,NaN,...,34.8,NaN,35.3,NaN,35.7,NaN,36.8,NaN,36.1,NaN
113,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.3,26.5,26.7,29.0,NaN,NaN,NaN,NaN,NaN,NaN
114,South Africa,ZAF,NaN,NaN,59.3,NaN,NaN,NaN,NaN,NaN,...,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,Zambia,ZMB,59.4,NaN,52.6,NaN,NaN,48.3,NaN,49.1,...,NaN,55.8,NaN,NaN,NaN,NaN,NaN,NaN,51.5,NaN

In [81]:
# Initialize an empty list to store DataFrames
df_list = []

for year in range(1990, 2021):  # Assuming the range of years is from 1991 to 2023
    year_column = str(year)
    
    # Check if the year exists as a column in the dataframe
    if year_column in gini_data_df.columns:
        # Create a new DataFrame with 'country', 'alpha3', and the value of that year
        df_year = gini_data_df[['country', 'alpha3', year_column]].copy()
        
        # Rename the column to 'gini' instead of 'value'
        df_year = df_year.rename(columns={year_column: 'gini'})
        
        # Add a new column 'year' to store the current year
        df_year['year'] = year
        
        # Rearrange the columns to ['country', 'year', 'alpha3', 'gini']
        df_year = df_year[['country', 'year', 'alpha3', 'gini']]
        
        # Append the DataFrame to the list
        df_list.append(df_year)

# Concatenate all the DataFrames in the list into a single DataFrame
merged_gini_data = pd.concat(df_list, ignore_index=True)

# Optionally, inspect the merged DataFrame
print(merged_gini_data.head())

     country  year alpha3  gini
0    Albania  1991    ALB   NaN
1  Argentina  1991    ARG  46.8
2    Armenia  1991    ARM   NaN
3  Australia  1991    AUS   NaN
4    Austria  1991    AUT   NaN

In [82]:
literacy_data_pd = pd.read_csv('./processed_datasets/literacy_data.csv')
literacy_data_pd

,country,alpha3,1991,1992,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,AFE,58.141190,58.530640,58.912601,59.526852,59.921940,60.434929,61.174061,61.408710,...,69.834770,70.313423,71.095200,71.009071,71.392616,72.634972,72.785622,72.581161,72.600403,NaN
1,Africa Western and Central,AFW,44.823318,45.163380,46.002171,46.869511,47.017632,47.806450,48.828880,50.175579,...,54.006760,54.818321,55.437920,56.485538,59.568459,59.511719,59.617512,60.034611,60.312698,NaN
2,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.500000,NaN
3,Arab World,ARB,55.813911,56.863861,57.682941,58.448780,59.594292,60.881039,61.828331,63.036888,...,77.577873,74.981209,76.386726,77.170303,74.286133,74.603661,75.022881,75.231178,75.171532,NaN
4,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.744408,99.736069,NaN,NaN,99.788612,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Viet Nam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,95.753868,NaN,NaN,96.133263,NaN
110,Vanuatu,VUT,NaN,NaN,NaN,68.699997,NaN,NaN,NaN,NaN,...,84.699997,NaN,NaN,NaN,NaN,NaN,NaN,89.099998,NaN,NaN
111,World,WLD,75.198761,75.645752,76.059624,76.462769,76.868942,77.258171,79.248680,80.433929,...,85.433708,85.601830,86.061157,86.288231,86.339050,86.489601,86.711510,86.852753,87.011749,NaN
112,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,82.402100,NaN,NaN,...,94.139900,94.367920,NaN,87.046669,NaN,95.022972,NaN,90.001358,NaN,NaN
113,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,87.500000,NaN,NaN,NaN

In [83]:
# Initialize an empty list to store DataFrames
df_list = []

for year in range(1990, 2021):  # Assuming the range of years is from 1991 to 2023
    year_column = str(year)
    
    # Check if the year exists as a column in the dataframe
    if year_column in literacy_data_pd.columns:
        # Create a new DataFrame with 'country', 'alpha3', and the value of that year
        df_year = literacy_data_pd[['country', 'alpha3', year_column]].copy()
        
        # Rename the column to 'literacy' instead of 'value'
        df_year = df_year.rename(columns={year_column: 'literacy'})
        
        # Add a new column 'year' to store the current year
        df_year['year'] = year
        
        # Rearrange the columns to ['country', 'year', 'alpha3', 'literacy']
        df_year = df_year[['country', 'year', 'alpha3', 'literacy']]
        
        # Append the DataFrame to the list
        df_list.append(df_year)

# Concatenate all the DataFrames in the list into a single DataFrame
merged_literacy_data = pd.concat(df_list, ignore_index=True)

# Optionally, inspect the merged DataFrame
print(merged_literacy_data.head())

                       country  year alpha3   literacy
0  Africa Eastern and Southern  1991    AFE  58.141190
1   Africa Western and Central  1991    AFW  44.823318
2                      Albania  1991    ALB        NaN
3                   Arab World  1991    ARB  55.813911
4                      Armenia  1991    ARM        NaN

In [84]:
population_pd = pd.read_csv('./processed_datasets/population.csv')
population_pd

,Unnamed: 0,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0,Aruba,ABW,65712.0,67864.0,70192.0,72360.0,74710.0,77050.0,79417.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,106277.0
1,1,Africa Eastern and Southern,AFE,309890664.0,318544083.0,326933522.0,335625136.0,344418362.0,353466601.0,362985802.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,739108306.0
2,2,Afghanistan,AFG,10694796.0,10745167.0,12057433.0,14003760.0,15455555.0,16418912.0,17106595.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,42239854.0
3,3,Africa Western and Central,AFW,206739024.0,212172888.0,217966101.0,223788766.0,229675775.0,235861484.0,242200260.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,502789511.0
4,4,Angola,AGO,11828638.0,12228691.0,12632507.0,13038270.0,13462031.0,13912253.0,14383350.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,36684202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,261,Kosovo,XKX,1964986.0,2001982.0,2039030.0,2073990.0,2107947.0,2141405.0,2173716.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1768086.0,1756374.0
262,262,"Yemen, Rep.",YEM,13375121.0,13895851.0,14433771.0,14988047.0,15553171.0,16103339.0,16614326.0,...,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0,34449825.0
263,263,South Africa,ZAF,39877570.0,40910959.0,41760755.0,42525440.0,43267982.0,43986084.0,44661603.0,...,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0,60414495.0
264,264,Zambia,ZMB,7686401.0,7880466.0,8074337.0,8270917.0,8474216.0,8684135.0,8902019.0,...,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0,20569737.0
265,265,Zimbabwe,ZWE,10113893.0,10377815.0,10641501.0,10794918.0,10858594.0,10994041.0,11178171.0,...,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0,16665409.0

In [85]:
# Initialize an empty list to store DataFrames
df_list = []

for year in range(1990, 2021):  # Assuming the range of years is from 1990 to 2020
    year_column = str(year)
    
    # Check if the year exists as a column in the dataframe
    if year_column in population_pd.columns:
        # Create a new DataFrame with 'Country Name', 'Country Code', and the value of that year
        df_year = population_pd[['Country Name', 'Country Code', year_column]].copy()
        
        # Rename the columns as per the required structure
        df_year = df_year.rename(columns={
            'Country Name': 'country',
            'Country Code': 'alpha3',
            year_column: 'population'  # Rename to 'population' instead of 'value'
        })
        
        # Add a new column 'year' to store the current year
        df_year['year'] = year
        
        # Rearrange the columns to ['country', 'year', 'alpha3', 'population']
        df_year = df_year[['country', 'year', 'alpha3', 'population']]
        
        # Append the DataFrame to the list
        df_list.append(df_year)

# Concatenate all the DataFrames in the list into a single DataFrame
merged_population_data = pd.concat(df_list, ignore_index=True)

# Optionally, inspect the merged DataFrame
print(merged_population_data.head())

                       country  year alpha3   population
0                        Aruba  1990    ABW      65712.0
1  Africa Eastern and Southern  1990    AFE  309890664.0
2                  Afghanistan  1990    AFG   10694796.0
3   Africa Western and Central  1990    AFW  206739024.0
4                       Angola  1990    AGO   11828638.0

In [86]:
poverty_data_pd = pd.read_csv('./processed_datasets/poverty_data.csv')
poverty_data_pd

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,54.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,32.3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,17.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,54.4,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN
265,Zimbabwe,ZWE,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.4,NaN,38.3,NaN,NaN,NaN,NaN,NaN

In [87]:
# Initialize an empty list to store DataFrames
df_list = []

for year in range(1990, 2021):  # Assuming the range of years is from 1990 to 2020
    year_column = str(year)
    
    # Check if the year exists as a column in the dataframe
    if year_column in poverty_data_pd.columns:
        # Create a new DataFrame with 'Country Name', 'Country Code', and the value of that year
        df_year = poverty_data_pd[['Country Name', 'Country Code', year_column]].copy()
        
        # Rename the columns as per the required structure
        df_year = df_year.rename(columns={
            'Country Name': 'country',
            'Country Code': 'alpha3',
            year_column: 'poverty'  
        })
        
        # Add a new column 'year' to store the current year
        df_year['year'] = year
        
        # Rearrange the columns to ['country', 'year', 'alpha3', 'population']
        df_year = df_year[['country', 'year', 'alpha3', 'poverty']]
        
        # Append the DataFrame to the list
        df_list.append(df_year)

# Concatenate all the DataFrames in the list into a single DataFrame
merged_poverty_data = pd.concat(df_list, ignore_index=True)

# Optionally, inspect the merged DataFrame
print(merged_poverty_data.head())

                       country  year alpha3  poverty
0                        Aruba  1990    ABW      NaN
1  Africa Eastern and Southern  1990    AFE      NaN
2                  Afghanistan  1990    AFG      NaN
3   Africa Western and Central  1990    AFW      NaN
4                       Angola  1990    AGO      NaN

In [88]:
suicides_df = pd.read_csv('./processed_datasets/suicides_clean.csv')
print(suicides_df)

      year              country  suicides_no
0     1985  Antigua and Barbuda            0
1     1985            Argentina         1988
2     1985            Australia         1861
3     1985              Austria         2091
4     1985              Bahamas            1
...    ...                  ...          ...
2316  2016          Netherlands         1886
2317  2016                Qatar           68
2318  2016              Romania         1953
2319  2016               Sweden         1130
2320  2016             Thailand         4117

[2321 rows x 3 columns]

In [89]:
# Filter the DataFrame for the years between 1990 and 2020 (inclusive)
filtered_suicides_df = suicides_df[(suicides_df['year'] >= 1990) & (suicides_df['year'] <= 2020)]

# Optionally, inspect the filtered DataFrame
print(filtered_suicides_df.head())

     year              country  suicides_no
251  1990  Antigua and Barbuda            1
252  1990            Argentina         2140
253  1990              Armenia           93
254  1990            Australia         2202
255  1990              Austria         1825

In [91]:
# Start with the first DataFrame (e.g., gini data)
merged_df = merged_gini_data

# Now merge it iteratively with other DataFrames, specifying suffixes to avoid duplicates
merged_df = pd.merge(merged_df, merged_literacy_data, on=['country', 'year'], how='outer', suffixes=('_gini', '_literacy'))
merged_df = pd.merge(merged_df, merged_population_data, on=['country', 'year'], how='outer', suffixes=('', '_population'))
merged_df = pd.merge(merged_df, merged_poverty_data, on=['country', 'year'], how='outer', suffixes=('', '_poverty'))
merged_df = pd.merge(merged_df, filtered_suicides_df, on=['country', 'year'], how='outer', suffixes=('', '_suicides'))

# Optionally inspect the merged DataFrame
merged_df.dropna().size

,country,year,alpha3_gini,gini,alpha3_literacy,literacy,alpha3,population,alpha3_poverty,poverty,suicides_no
1437,Chile,2011,CHL,46.9,CHL,96.703011,CHL,17173573.0,CHL,22.2,2027.0
1439,Chile,2013,CHL,46.8,CHL,96.267059,CHL,17509925.0,CHL,14.4,1738.0
1441,Chile,2015,CHL,45.3,CHL,96.874130,CHL,17870124.0,CHL,11.7,1838.0
2111,Ecuador,2007,ECU,53.4,ECU,92.096786,ECU,14251835.0,ECU,36.7,1005.0
2112,Ecuador,2008,ECU,49.8,ECU,92.390053,ECU,14496797.0,ECU,35.1,928.0
2113,Ecuador,2009,ECU,48.5,ECU,92.249763,ECU,14742766.0,ECU,36.0,964.0
2114,Ecuador,2010,ECU,48.8,ECU,91.854042,ECU,14989585.0,ECU,32.8,912.0
2115,Ecuador,2011,ECU,45.9,ECU,91.586899,ECU,15237728.0,ECU,28.6,918.0
2116,Ecuador,2012,ECU,46.1,ECU,92.064728,ECU,15483883.0,ECU,27.3,976.0
2117,Ecuador,2013,ECU,46.9,ECU,93.294632,ECU,15722989.0,ECU,25.6,676.0
2118,Ecuador,2014,ECU,45.0,ECU,94.222641,ECU,15957994.0,ECU,22.5,734.0
2119,Ecuador,2015,ECU,46.0,ECU,94.455658,ECU,16195902.0,ECU,23.3,1073.0
6044,Paraguay,2007,PRY,53.0,PRY,94.558220,PRY,5590145.0,PRY,45.3,227.0
6045,Paraguay,2008,PRY,50.7,PRY,93.292084,PRY,5645148.0,PRY,43.2,222.0
6046,Paraguay,2009,PRY,49.1,PRY,93.754242,PRY,5702574.0,PRY,41.6,283.0
6047,Paraguay,2010,PRY,51.0,PRY,93.870918,PRY,5768613.0,PRY,39.0,223.0
6049,Paraguay,2012,PRY,47.6,PRY,94.197472,PRY,5923322.0,PRY,31.4,275.0
6050,Paraguay,2013,PRY,47.9,PRY,95.059036,PRY,6005652.0,PRY,28.0,323.0
6051,Paraguay,2014,PRY,50.7,PRY,95.034813,PRY,6090721.0,PRY,27.2,379.0
6981,South Africa,2010,ZAF,63.4,ZAF,92.877319,ZAF,51784921.0,ZAF,53.2,393.0
6985,South Africa,2014,ZAF,63.0,ZAF,94.139900,ZAF,54729551.0,ZAF,55.5,580.0
7099,Spain,2004,ESP,33.3,ESP,97.165123,ESP,42921895.0,ESP,20.1,3508.0
7100,Spain,2005,ESP,32.4,ESP,97.750687,ESP,43653155.0,ESP,20.3,3399.0
7101,Spain,2006,ESP,33.5,ESP,97.752136,ESP,44397319.0,ESP,19.7,3247.0
7102,Spain,2007,ESP,34.1,ESP,97.938843,ESP,45226803.0,ESP,19.8,3264.0
7103,Spain,2008,ESP,34.2,ESP,97.630608,ESP,45954106.0,ESP,20.4,3457.0
7104,Spain,2009,ESP,34.9,ESP,97.679268,ESP,46362946.0,ESP,20.7,3429.0
7105,Spain,2010,ESP,35.2,ESP,97.748901,ESP,46576897.0,ESP,20.6,3158.0
7106,Spain,2011,ESP,35.7,ESP,97.783752,ESP,46742697.0,ESP,20.8,3180.0
7107,Spain,2012,ESP,35.4,ESP,97.894539,ESP,46773055.0,ESP,20.4,3539.0
7108,Spain,2013,ESP,36.2,ESP,98.079132,ESP,46620045.0,ESP,22.2,3873.0
7109,Spain,2014,ESP,36.1,ESP,98.093719,ESP,46480882.0,ESP,22.1,3911.0
7110,Spain,2015,ESP,36.2,ESP,98.143257,ESP,46444832.0,ESP,22.3,3604.0
7132,Sri Lanka,2006,LKA,39.7,LKA,90.808830,LKA,19870706.0,LKA,34.1,4015.0
7591,Thailand,2000,THA,42.8,THA,92.646538,THA,63066603.0,THA,42.3,5182.0
7601,Thailand,2010,THA,39.4,THA,96.430908,THA,68270489.0,THA,16.4,3761.0
7604,Thailand,2013,THA,37.8,THA,93.702072,THA,69578602.0,THA,10.9,3961.0
7606,Thailand,2015,THA,36.0,THA,92.868309,THA,70294397.0,THA,7.2,4205.0