In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [12]:
gini_data_df = pd.read_csv('./processed_datasets/gini_data.csv')
gini_data_df

,country,alpha3,1991,1992,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Albania,ALB,NaN,NaN,NaN,NaN,NaN,27.0,NaN,NaN,...,34.6,32.8,33.7,33.1,30.1,30.1,29.4,NaN,NaN,NaN
1,Argentina,ARG,46.8,45.5,44.8,45.9,48.9,49.5,49.1,50.7,...,41.8,NaN,42.3,41.4,41.7,43.3,42.7,42.4,40.7,NaN
2,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.5,32.4,32.5,33.6,34.4,30.0,25.1,27.9,27.9,NaN
3,Australia,AUS,NaN,NaN,NaN,NaN,32.6,NaN,NaN,NaN,...,34.4,NaN,33.7,NaN,34.3,NaN,NaN,NaN,NaN,NaN
4,Austria,AUT,NaN,NaN,NaN,30.8,29.9,29.3,29.1,31.3,...,30.5,30.5,30.8,29.7,30.8,30.2,29.8,30.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,"Venezuela, RB",VEN,NaN,42.1,NaN,NaN,47.2,NaN,NaN,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Viet Nam,VNM,NaN,35.7,NaN,NaN,NaN,NaN,35.4,NaN,...,34.8,NaN,35.3,NaN,35.7,NaN,36.8,NaN,36.1,NaN
113,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.3,26.5,26.7,29.0,NaN,NaN,NaN,NaN,NaN,NaN
114,South Africa,ZAF,NaN,NaN,59.3,NaN,NaN,NaN,NaN,NaN,...,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,Zambia,ZMB,59.4,NaN,52.6,NaN,NaN,48.3,NaN,49.1,...,NaN,55.8,NaN,NaN,NaN,NaN,NaN,NaN,51.5,NaN

In [24]:
for year in range(1990, 2021):  # Assuming the range of years is from 1991 to 2023
    year_column = str(year)
    
    # Check if the year exists as a column in the dataframe
    if year_column in gini_data_df.columns:
        # Create a new DataFrame with 'country', 'alpha3', and the value of that year
        df_year = gini_data_df[['country', 'alpha3', year_column]].copy()
        
        # Rename the column to 'value' for that year
        df_year = df_year.rename(columns={year_column: 'value'})
        
        # Add a new column 'year' to store the current year
        df_year['year'] = year
        
        # Rearrange the columns to ['country', 'year', 'alpha3', 'value']
        df_year = df_year[['country', 'year', 'alpha3', 'value']]
        
        # Dynamically create a new DataFrame variable
        globals()[f'gini_data_df_{year}'] = df_year

        # Optionally, print or inspect the result for a specific year
        print(f'gini_data_df_{year}')
        print(df_year.head())

gini_data_df_1991
     country  year alpha3  value
0    Albania  1991    ALB    NaN
1  Argentina  1991    ARG   46.8
2    Armenia  1991    ARM    NaN
3  Australia  1991    AUS    NaN
4    Austria  1991    AUT    NaN
gini_data_df_1992
     country  year alpha3  value
0    Albania  1992    ALB    NaN
1  Argentina  1992    ARG   45.5
2    Armenia  1992    ARM    NaN
3  Australia  1992    AUS    NaN
4    Austria  1992    AUT    NaN
gini_data_df_1993
     country  year alpha3  value
0    Albania  1993    ALB    NaN
1  Argentina  1993    ARG   44.8
2    Armenia  1993    ARM    NaN
3  Australia  1993    AUS    NaN
4    Austria  1993    AUT    NaN
gini_data_df_1994
     country  year alpha3  value
0    Albania  1994    ALB    NaN
1  Argentina  1994    ARG   45.9
2    Armenia  1994    ARM    NaN
3  Australia  1994    AUS    NaN
4    Austria  1994    AUT   30.8
gini_data_df_1995
     country  year alpha3  value
0    Albania  1995    ALB    NaN
1  Argentina  1995    ARG   48.9
2    Armenia  1995    ARM    NaN
3  Australia  1995    AUS   32.6
4    Austria  1995    AUT   29.9
gini_data_df_1996
     country  year alpha3  value
0    Albania  1996    ALB   27.0
1  Argentina  1996    ARG   49.5
2    Armenia  1996    ARM    NaN
3  Australia  1996    AUS    NaN
4    Austria  1996    AUT   29.3
gini_data_df_1997
     country  year alpha3  value
0    Albania  1997    ALB    NaN
1  Argentina  1997    ARG   49.1
2    Armenia  1997    ARM    NaN
3  Australia  1997    AUS    NaN
4    Austria  1997    AUT   29.1
gini_data_df_1998
     country  year alpha3  value
0    Albania  1998    ALB    NaN
1  Argentina  1998    ARG   50.7
2    Armenia  1998    ARM    NaN
3  Australia  1998    AUS    NaN
4    Austria  1998    AUT   31.3
gini_data_df_1999
     country  year alpha3  value
0    Albania  1999    ALB    NaN
1  Argentina  1999    ARG   49.8
2    Armenia  1999    ARM   36.2
3  Australia  1999    AUS    NaN
4    Austria  1999    AUT   29.7
gini_data_df_2000
     country  year alpha3  value
0    Albania  2000    ALB    NaN
1  Argentina  2000    ARG   51.0
2    Armenia  2000    ARM    NaN
3  Australia  2000    AUS    NaN
4    Austria  2000    AUT   29.0
gini_data_df_2001
     country  year alpha3  value
0    Albania  2001    ALB    NaN
1  Argentina  2001    ARG   53.3
2    Armenia  2001    ARM   35.4
3  Australia  2001    AUS   33.5
4    Austria  2001    AUT    NaN
gini_data_df_2002
     country  year alpha3  value
0    Albania  2002    ALB   31.7
1  Argentina  2002    ARG   53.8
2    Armenia  2002    ARM   34.8
3  Australia  2002    AUS    NaN
4    Austria  2002    AUT    NaN
gini_data_df_2003
     country  year alpha3  value
0    Albania  2003    ALB    NaN
1  Argentina  2003    ARG   51.0
2    Armenia  2003    ARM   33.0
3  Australia  2003    AUS   33.5
4    Austria  2003    AUT   29.5
gini_data_df_2004
     country  year alpha3  value
0    Albania  2004    ALB    NaN
1  Argentina  2004    ARG   48.5
2    Armenia  2004    ARM   37.5
3  Australia  2004    AUS   33.1
4    Austria  2004    AUT   29.8
gini_data_df_2005
     country  year alpha3  value
0    Albania  2005    ALB   30.6
1  Argentina  2005    ARG   47.8
2    Armenia  2005    ARM   36.0
3  Australia  2005    AUS    NaN
4    Austria  2005    AUT   28.7
gini_data_df_2006
     country  year alpha3  value
0    Albania  2006    ALB    NaN
1  Argentina  2006    ARG   46.4
2    Armenia  2006    ARM   29.7
3  Australia  2006    AUS    NaN
4    Austria  2006    AUT   29.6
gini_data_df_2007
     country  year alpha3  value
0    Albania  2007    ALB    NaN
1  Argentina  2007    ARG   46.3
2    Armenia  2007    ARM   31.2
3  Australia  2007    AUS    NaN
4    Austria  2007    AUT   30.6
gini_data_df_2008
     country  year alpha3  value
0    Albania  2008    ALB   30.0
1  Argentina  2008    ARG   45.0
2    Armenia  2008    ARM   29.2
3  Australia  2008    AUS   35.4
4    Austria  2008    AUT   30.4
gini_data_df_2009
     country  year alpha3  value
0    Albania  2009    ALB    NaN
1  Argentina  2009    ARG   43.8
2    Armenia  2009    ARM   28.0
3  Australia  2009    AUS    NaN
4    Austria  2009    AUT   31.5
gini_data_df_2010
     country  year alpha3  value
0    Albania  2010    ALB    NaN
1  Argentina  2010    ARG   43.7
2    Armenia  2010    ARM   30.0
3  Australia  2010    AUS   34.7
4    Austria  2010    AUT   30.3
gini_data_df_2011
     country  year alpha3  value
0    Albania  2011    ALB    NaN
1  Argentina  2011    ARG   42.7
2    Armenia  2011    ARM   29.4
3  Australia  2011    AUS    NaN
4    Austria  2011    AUT   30.8
gini_data_df_2012
     country  year alpha3  value
0    Albania  2012    ALB   29.0
1  Argentina  2012    ARG   41.4
2    Armenia  2012    ARM   29.6
3  Australia  2012    AUS    NaN
4    Austria  2012    AUT   30.5
gini_data_df_2013
     country  year alpha3  value
0    Albania  2013    ALB    NaN
1  Argentina  2013    ARG   41.1
2    Armenia  2013    ARM   30.6
3  Australia  2013    AUS    NaN
4    Austria  2013    AUT   30.8
gini_data_df_2014
     country  year alpha3  value
0    Albania  2014    ALB   34.6
1  Argentina  2014    ARG   41.8
2    Armenia  2014    ARM   31.5
3  Australia  2014    AUS   34.4
4    Austria  2014    AUT   30.5
gini_data_df_2015
     country  year alpha3  value
0    Albania  2015    ALB   32.8
1  Argentina  2015    ARG    NaN
2    Armenia  2015    ARM   32.4
3  Australia  2015    AUS    NaN
4    Austria  2015    AUT   30.5
gini_data_df_2016
     country  year alpha3  value
0    Albania  2016    ALB   33.7
1  Argentina  2016    ARG   42.3
2    Armenia  2016    ARM   32.5
3  Australia  2016    AUS   33.7
4    Austria  2016    AUT   30.8
gini_data_df_2017
     country  year alpha3  value
0    Albania  2017    ALB   33.1
1  Argentina  2017    ARG   41.4
2    Armenia  2017    ARM   33.6
3  Australia  2017    AUS    NaN
4    Austria  2017    AUT   29.7
gini_data_df_2018
     country  year alpha3  value
0    Albania  2018    ALB   30.1
1  Argentina  2018    ARG   41.7
2    Armenia  2018    ARM   34.4
3  Australia  2018    AUS   34.3
4    Austria  2018    AUT   30.8
gini_data_df_2019
     country  year alpha3  value
0    Albania  2019    ALB   30.1
1  Argentina  2019    ARG   43.3
2    Armenia  2019    ARM   30.0
3  Australia  2019    AUS    NaN
4    Austria  2019    AUT   30.2
gini_data_df_2020
     country  year alpha3  value
0    Albania  2020    ALB   29.4
1  Argentina  2020    ARG   42.7
2    Armenia  2020    ARM   25.1
3  Australia  2020    AUS    NaN
4    Austria  2020    AUT   29.8

In [25]:
literacy_data_pd = pd.read_csv('./processed_datasets/literacy_data.csv')
literacy_data_pd

,country,alpha3,1991,1992,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa Eastern and Southern,AFE,58.141190,58.530640,58.912601,59.526852,59.921940,60.434929,61.174061,61.408710,...,69.834770,70.313423,71.095200,71.009071,71.392616,72.634972,72.785622,72.581161,72.600403,NaN
1,Africa Western and Central,AFW,44.823318,45.163380,46.002171,46.869511,47.017632,47.806450,48.828880,50.175579,...,54.006760,54.818321,55.437920,56.485538,59.568459,59.511719,59.617512,60.034611,60.312698,NaN
2,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.500000,NaN
3,Arab World,ARB,55.813911,56.863861,57.682941,58.448780,59.594292,60.881039,61.828331,63.036888,...,77.577873,74.981209,76.386726,77.170303,74.286133,74.603661,75.022881,75.231178,75.171532,NaN
4,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.744408,99.736069,NaN,NaN,99.788612,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Viet Nam,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,95.753868,NaN,NaN,96.133263,NaN
110,Vanuatu,VUT,NaN,NaN,NaN,68.699997,NaN,NaN,NaN,NaN,...,84.699997,NaN,NaN,NaN,NaN,NaN,NaN,89.099998,NaN,NaN
111,World,WLD,75.198761,75.645752,76.059624,76.462769,76.868942,77.258171,79.248680,80.433929,...,85.433708,85.601830,86.061157,86.288231,86.339050,86.489601,86.711510,86.852753,87.011749,NaN
112,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,82.402100,NaN,NaN,...,94.139900,94.367920,NaN,87.046669,NaN,95.022972,NaN,90.001358,NaN,NaN
113,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,87.500000,NaN,NaN,NaN

In [26]:
for year in range(1990, 2021):  # Assuming the range of years is from 1991 to 2023
    year_column = str(year)
    
    # Check if the year exists as a column in the dataframe
    if year_column in literacy_data_pd.columns:
        # Create a new DataFrame with 'country', 'alpha3', and the value of that year
        df_year = literacy_data_pd[['country', 'alpha3', year_column]].copy()
        
        # Rename the column to 'value' for that year
        df_year = df_year.rename(columns={year_column: 'value'})
        
        # Add a new column 'year' to store the current year
        df_year['year'] = year
        
        # Rearrange the columns to ['country', 'year', 'alpha3', 'value']
        df_year = df_year[['country', 'year', 'alpha3', 'value']]
        
        # Dynamically create a new DataFrame variable
        globals()[f'literacy_data_pd{year}'] = df_year

        # Optionally, print or inspect the result for a specific year
        print(f'literacy_data_pd{year}')
        print(df_year.head())

literacy_data_pd1991
                       country  year alpha3      value
0  Africa Eastern and Southern  1991    AFE  58.141190
1   Africa Western and Central  1991    AFW  44.823318
2                      Albania  1991    ALB        NaN
3                   Arab World  1991    ARB  55.813911
4                      Armenia  1991    ARM        NaN
literacy_data_pd1992
                       country  year alpha3      value
0  Africa Eastern and Southern  1992    AFE  58.530640
1   Africa Western and Central  1992    AFW  45.163380
2                      Albania  1992    ALB        NaN
3                   Arab World  1992    ARB  56.863861
4                      Armenia  1992    ARM        NaN
literacy_data_pd1993
                       country  year alpha3      value
0  Africa Eastern and Southern  1993    AFE  58.912601
1   Africa Western and Central  1993    AFW  46.002171
2                      Albania  1993    ALB        NaN
3                   Arab World  1993    ARB  57.682941
4                      Armenia  1993    ARM        NaN
literacy_data_pd1994
                       country  year alpha3      value
0  Africa Eastern and Southern  1994    AFE  59.526852
1   Africa Western and Central  1994    AFW  46.869511
2                      Albania  1994    ALB        NaN
3                   Arab World  1994    ARB  58.448780
4                      Armenia  1994    ARM        NaN
literacy_data_pd1995
                       country  year alpha3      value
0  Africa Eastern and Southern  1995    AFE  59.921940
1   Africa Western and Central  1995    AFW  47.017632
2                      Albania  1995    ALB        NaN
3                   Arab World  1995    ARB  59.594292
4                      Armenia  1995    ARM        NaN
literacy_data_pd1996
                       country  year alpha3      value
0  Africa Eastern and Southern  1996    AFE  60.434929
1   Africa Western and Central  1996    AFW  47.806450
2                      Albania  1996    ALB        NaN
3                   Arab World  1996    ARB  60.881039
4                      Armenia  1996    ARM        NaN
literacy_data_pd1997
                       country  year alpha3      value
0  Africa Eastern and Southern  1997    AFE  61.174061
1   Africa Western and Central  1997    AFW  48.828880
2                      Albania  1997    ALB        NaN
3                   Arab World  1997    ARB  61.828331
4                      Armenia  1997    ARM        NaN
literacy_data_pd1998
                       country  year alpha3      value
0  Africa Eastern and Southern  1998    AFE  61.408710
1   Africa Western and Central  1998    AFW  50.175579
2                      Albania  1998    ALB        NaN
3                   Arab World  1998    ARB  63.036888
4                      Armenia  1998    ARM        NaN
literacy_data_pd1999
                       country  year alpha3      value
0  Africa Eastern and Southern  1999    AFE  62.258419
1   Africa Western and Central  1999    AFW  51.051659
2                      Albania  1999    ALB        NaN
3                   Arab World  1999    ARB  64.111160
4                      Armenia  1999    ARM        NaN
literacy_data_pd2000
                       country  year alpha3      value
0  Africa Eastern and Southern  2000    AFE  62.495178
1   Africa Western and Central  2000    AFW  47.057159
2                      Albania  2000    ALB        NaN
3                   Arab World  2000    ARB  64.806297
4                      Armenia  2000    ARM        NaN
literacy_data_pd2001
                       country  year alpha3      value
0  Africa Eastern and Southern  2001    AFE  63.417889
1   Africa Western and Central  2001    AFW  48.762611
2                      Albania  2001    ALB  98.712982
3                   Arab World  2001    ARB  66.242348
4                      Armenia  2001    ARM  99.400162
literacy_data_pd2002
                       country  year alpha3      value
0  Africa Eastern and Southern  2002    AFE  63.749409
1   Africa Western and Central  2002    AFW  49.472450
2                      Albania  2002    ALB        NaN
3                   Arab World  2002    ARB  67.360199
4                      Armenia  2002    ARM        NaN
literacy_data_pd2003
                       country  year alpha3      value
0  Africa Eastern and Southern  2003    AFE  64.350304
1   Africa Western and Central  2003    AFW  49.474369
2                      Albania  2003    ALB        NaN
3                   Arab World  2003    ARB  69.989029
4                      Armenia  2003    ARM        NaN
literacy_data_pd2004
                       country  year alpha3      value
0  Africa Eastern and Southern  2004    AFE  65.600418
1   Africa Western and Central  2004    AFW  51.383411
2                      Albania  2004    ALB        NaN
3                   Arab World  2004    ARB  70.573776
4                      Armenia  2004    ARM        NaN
literacy_data_pd2005
                       country  year alpha3      value
0  Africa Eastern and Southern  2005    AFE  63.942471
1   Africa Western and Central  2005    AFW  51.423820
2                      Albania  2005    ALB        NaN
3                   Arab World  2005    ARB  70.233330
4                      Armenia  2005    ARM        NaN
literacy_data_pd2006
                       country  year alpha3      value
0  Africa Eastern and Southern  2006    AFE  62.133869
1   Africa Western and Central  2006    AFW  57.471149
2                      Albania  2006    ALB        NaN
3                   Arab World  2006    ARB  69.127411
4                      Armenia  2006    ARM        NaN
literacy_data_pd2007
                       country  year alpha3      value
0  Africa Eastern and Southern  2007    AFE  62.835758
1   Africa Western and Central  2007    AFW  50.119549
2                      Albania  2007    ALB        NaN
3                   Arab World  2007    ARB  69.876587
4                      Armenia  2007    ARM        NaN
literacy_data_pd2008
                       country  year alpha3      value
0  Africa Eastern and Southern  2008    AFE  63.309509
1   Africa Western and Central  2008    AFW  49.810040
2                      Albania  2008    ALB  95.938637
3                   Arab World  2008    ARB  70.676628
4                      Armenia  2008    ARM        NaN
literacy_data_pd2009
                       country  year alpha3      value
0  Africa Eastern and Southern  2009    AFE  64.000420
1   Africa Western and Central  2009    AFW  50.692379
2                      Albania  2009    ALB        NaN
3                   Arab World  2009    ARB  69.580391
4                      Armenia  2009    ARM        NaN
literacy_data_pd2010
                       country  year alpha3      value
0  Africa Eastern and Southern  2010    AFE  64.617882
1   Africa Western and Central  2010    AFW  51.156960
2                      Albania  2010    ALB        NaN
3                   Arab World  2010    ARB  70.518417
4                      Armenia  2010    ARM        NaN
literacy_data_pd2011
                       country  year alpha3      value
0  Africa Eastern and Southern  2011    AFE  66.829651
1   Africa Western and Central  2011    AFW  51.766312
2                      Albania  2011    ALB  96.845299
3                   Arab World  2011    ARB  72.277496
4                      Armenia  2011    ARM  99.744408
literacy_data_pd2012
                       country  year alpha3      value
0  Africa Eastern and Southern  2012    AFE  68.361351
1   Africa Western and Central  2012    AFW  52.410160
2                      Albania  2012    ALB  97.246971
3                   Arab World  2012    ARB  75.701889
4                      Armenia  2012    ARM        NaN
literacy_data_pd2013
                       country  year alpha3      value
0  Africa Eastern and Southern  2013    AFE  69.383102
1   Africa Western and Central  2013    AFW  53.002781
2                      Albania  2013    ALB        NaN
3                   Arab World  2013    ARB  73.276482
4                      Armenia  2013    ARM        NaN
literacy_data_pd2014
                       country  year alpha3      value
0  Africa Eastern and Southern  2014    AFE  69.834770
1   Africa Western and Central  2014    AFW  54.006760
2                      Albania  2014    ALB        NaN
3                   Arab World  2014    ARB  77.577873
4                      Armenia  2014    ARM        NaN
literacy_data_pd2015
                       country  year alpha3      value
0  Africa Eastern and Southern  2015    AFE  70.313423
1   Africa Western and Central  2015    AFW  54.818321
2                      Albania  2015    ALB        NaN
3                   Arab World  2015    ARB  74.981209
4                      Armenia  2015    ARM        NaN
literacy_data_pd2016
                       country  year alpha3      value
0  Africa Eastern and Southern  2016    AFE  71.095200
1   Africa Western and Central  2016    AFW  55.437920
2                      Albania  2016    ALB        NaN
3                   Arab World  2016    ARB  76.386726
4                      Armenia  2016    ARM  99.744408
literacy_data_pd2017
                       country  year alpha3      value
0  Africa Eastern and Southern  2017    AFE  71.009071
1   Africa Western and Central  2017    AFW  56.485538
2                      Albania  2017    ALB        NaN
3                   Arab World  2017    ARB  77.170303
4                      Armenia  2017    ARM  99.736069
literacy_data_pd2018
                       country  year alpha3      value
0  Africa Eastern and Southern  2018    AFE  71.392616
1   Africa Western and Central  2018    AFW  59.568459
2                      Albania  2018    ALB        NaN
3                   Arab World  2018    ARB  74.286133
4                      Armenia  2018    ARM        NaN
literacy_data_pd2019
                       country  year alpha3      value
0  Africa Eastern and Southern  2019    AFE  72.634972
1   Africa Western and Central  2019    AFW  59.511719
2                      Albania  2019    ALB        NaN
3                   Arab World  2019    ARB  74.603661
4                      Armenia  2019    ARM        NaN
literacy_data_pd2020
                       country  year alpha3      value
0  Africa Eastern and Southern  2020    AFE  72.785622
1   Africa Western and Central  2020    AFW  59.617512
2                      Albania  2020    ALB        NaN
3                   Arab World  2020    ARB  75.022881
4                      Armenia  2020    ARM  99.788612

In [30]:
population_pd = pd.read_csv('./processed_datasets/population.csv')
population_pd

,Unnamed: 0,Country Name,Country Code,1990,1991,1992,1993,1994,1995,1996,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,0,Aruba,ABW,65712.0,67864.0,70192.0,72360.0,74710.0,77050.0,79417.0,...,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0,106277.0
1,1,Africa Eastern and Southern,AFE,309890664.0,318544083.0,326933522.0,335625136.0,344418362.0,353466601.0,362985802.0,...,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0,739108306.0
2,2,Afghanistan,AFG,10694796.0,10745167.0,12057433.0,14003760.0,15455555.0,16418912.0,17106595.0,...,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0,42239854.0
3,3,Africa Western and Central,AFW,206739024.0,212172888.0,217966101.0,223788766.0,229675775.0,235861484.0,242200260.0,...,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0,502789511.0
4,4,Angola,AGO,11828638.0,12228691.0,12632507.0,13038270.0,13462031.0,13912253.0,14383350.0,...,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0,36684202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,261,Kosovo,XKX,1964986.0,2001982.0,2039030.0,2073990.0,2107947.0,2141405.0,2173716.0,...,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1768086.0,1756374.0
262,262,"Yemen, Rep.",YEM,13375121.0,13895851.0,14433771.0,14988047.0,15553171.0,16103339.0,16614326.0,...,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0,34449825.0
263,263,South Africa,ZAF,39877570.0,40910959.0,41760755.0,42525440.0,43267982.0,43986084.0,44661603.0,...,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0,60414495.0
264,264,Zambia,ZMB,7686401.0,7880466.0,8074337.0,8270917.0,8474216.0,8684135.0,8902019.0,...,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0,20569737.0
265,265,Zimbabwe,ZWE,10113893.0,10377815.0,10641501.0,10794918.0,10858594.0,10994041.0,11178171.0,...,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0,16665409.0

In [37]:
for year in range(1990, 2021):  # Assuming the range of years is from 1990 to 2020
    year_column = str(year)
    
    # Check if the year exists as a column in the dataframe
    if year_column in population_pd.columns:
        # Create a new DataFrame with 'Country Name', 'Country Code', and the value of that year
        df_year = population_pd[['Country Name', 'Country Code', year_column]].copy()
        
        # Rename the columns as per the required structure
        df_year = df_year.rename(columns={
            'Country Name': 'country',
            'Country Code': 'alpha3',
            year_column: 'value'
        })
        
        # Add a new column 'year' to store the current year
        df_year['year'] = year
        
        # Rearrange the columns to ['country', 'year', 'alpha3', 'value']
        df_year = df_year[['country', 'year', 'alpha3', 'value']]
        
        # Dynamically create a new DataFrame variable
        globals()[f'population_pd{year}'] = df_year

        # Optionally, print or inspect the result for a specific year
        print(f'population_pd{year}')
        print(df_year.head())

population_pd1990
                       country  year alpha3        value
0                        Aruba  1990    ABW      65712.0
1  Africa Eastern and Southern  1990    AFE  309890664.0
2                  Afghanistan  1990    AFG   10694796.0
3   Africa Western and Central  1990    AFW  206739024.0
4                       Angola  1990    AGO   11828638.0
population_pd1991
                       country  year alpha3        value
0                        Aruba  1991    ABW      67864.0
1  Africa Eastern and Southern  1991    AFE  318544083.0
2                  Afghanistan  1991    AFG   10745167.0
3   Africa Western and Central  1991    AFW  212172888.0
4                       Angola  1991    AGO   12228691.0
population_pd1992
                       country  year alpha3        value
0                        Aruba  1992    ABW      70192.0
1  Africa Eastern and Southern  1992    AFE  326933522.0
2                  Afghanistan  1992    AFG   12057433.0
3   Africa Western and Central  1992    AFW  217966101.0
4                       Angola  1992    AGO   12632507.0
population_pd1993
                       country  year alpha3        value
0                        Aruba  1993    ABW      72360.0
1  Africa Eastern and Southern  1993    AFE  335625136.0
2                  Afghanistan  1993    AFG   14003760.0
3   Africa Western and Central  1993    AFW  223788766.0
4                       Angola  1993    AGO   13038270.0
population_pd1994
                       country  year alpha3        value
0                        Aruba  1994    ABW      74710.0
1  Africa Eastern and Southern  1994    AFE  344418362.0
2                  Afghanistan  1994    AFG   15455555.0
3   Africa Western and Central  1994    AFW  229675775.0
4                       Angola  1994    AGO   13462031.0
population_pd1995
                       country  year alpha3        value
0                        Aruba  1995    ABW      77050.0
1  Africa Eastern and Southern  1995    AFE  353466601.0
2                  Afghanistan  1995    AFG   16418912.0
3   Africa Western and Central  1995    AFW  235861484.0
4                       Angola  1995    AGO   13912253.0
population_pd1996
                       country  year alpha3        value
0                        Aruba  1996    ABW      79417.0
1  Africa Eastern and Southern  1996    AFE  362985802.0
2                  Afghanistan  1996    AFG   17106595.0
3   Africa Western and Central  1996    AFW  242200260.0
4                       Angola  1996    AGO   14383350.0
population_pd1997
                       country  year alpha3        value
0                        Aruba  1997    ABW      81858.0
1  Africa Eastern and Southern  1997    AFE  372352230.0
2                  Afghanistan  1997    AFG   17788819.0
3   Africa Western and Central  1997    AFW  248713095.0
4                       Angola  1997    AGO   14871146.0
population_pd1998
                       country  year alpha3        value
0                        Aruba  1998    ABW      84355.0
1  Africa Eastern and Southern  1998    AFE  381715600.0
2                  Afghanistan  1998    AFG   18493132.0
3   Africa Western and Central  1998    AFW  255482918.0
4                       Angola  1998    AGO   15366864.0
population_pd1999
                       country  year alpha3        value
0                        Aruba  1999    ABW      86867.0
1  Africa Eastern and Southern  1999    AFE  391486231.0
2                  Afghanistan  1999    AFG   19262847.0
3   Africa Western and Central  1999    AFW  262397030.0
4                       Angola  1999    AGO   15870753.0
population_pd2000
                       country  year alpha3        value
0                        Aruba  2000    ABW      89101.0
1  Africa Eastern and Southern  2000    AFE  401600588.0
2                  Afghanistan  2000    AFG   19542982.0
3   Africa Western and Central  2000    AFW  269611898.0
4                       Angola  2000    AGO   16394062.0
population_pd2001
                       country  year alpha3        value
0                        Aruba  2001    ABW      90691.0
1  Africa Eastern and Southern  2001    AFE  412001885.0
2                  Afghanistan  2001    AFG   19688632.0
3   Africa Western and Central  2001    AFW  277160097.0
4                       Angola  2001    AGO   16941587.0
population_pd2002
                       country  year alpha3        value
0                        Aruba  2002    ABW      91781.0
1  Africa Eastern and Southern  2002    AFE  422741118.0
2                  Afghanistan  2002    AFG   21000256.0
3   Africa Western and Central  2002    AFW  284952322.0
4                       Angola  2002    AGO   17516139.0
population_pd2003
                       country  year alpha3        value
0                        Aruba  2003    ABW      92701.0
1  Africa Eastern and Southern  2003    AFE  433807484.0
2                  Afghanistan  2003    AFG   22645130.0
3   Africa Western and Central  2003    AFW  292977949.0
4                       Angola  2003    AGO   18124342.0
population_pd2004
                       country  year alpha3        value
0                        Aruba  2004    ABW      93540.0
1  Africa Eastern and Southern  2004    AFE  445281555.0
2                  Afghanistan  2004    AFG   23553551.0
3   Africa Western and Central  2004    AFW  301265247.0
4                       Angola  2004    AGO   18771125.0
population_pd2005
                       country  year alpha3        value
0                        Aruba  2005    ABW      94483.0
1  Africa Eastern and Southern  2005    AFE  457153837.0
2                  Afghanistan  2005    AFG   24411191.0
3   Africa Western and Central  2005    AFW  309824829.0
4                       Angola  2005    AGO   19450959.0
population_pd2006
                       country  year alpha3        value
0                        Aruba  2006    ABW      95606.0
1  Africa Eastern and Southern  2006    AFE  469508516.0
2                  Afghanistan  2006    AFG   25442944.0
3   Africa Western and Central  2006    AFW  318601484.0
4                       Angola  2006    AGO   20162340.0
population_pd2007
                       country  year alpha3        value
0                        Aruba  2007    ABW      96787.0
1  Africa Eastern and Southern  2007    AFE  482406426.0
2                  Afghanistan  2007    AFG   25903301.0
3   Africa Western and Central  2007    AFW  327612838.0
4                       Angola  2007    AGO   20909684.0
population_pd2008
                       country  year alpha3        value
0                        Aruba  2008    ABW      97996.0
1  Africa Eastern and Southern  2008    AFE  495748900.0
2                  Afghanistan  2008    AFG   26427199.0
3   Africa Western and Central  2008    AFW  336893835.0
4                       Angola  2008    AGO   21691522.0
population_pd2009
                       country  year alpha3        value
0                        Aruba  2009    ABW      99212.0
1  Africa Eastern and Southern  2009    AFE  509410477.0
2                  Afghanistan  2009    AFG   27385307.0
3   Africa Western and Central  2009    AFW  346475221.0
4                       Angola  2009    AGO   22507674.0
population_pd2010
                       country  year alpha3        value
0                        Aruba  2010    ABW     100341.0
1  Africa Eastern and Southern  2010    AFE  523459657.0
2                  Afghanistan  2010    AFG   28189672.0
3   Africa Western and Central  2010    AFW  356337762.0
4                       Angola  2010    AGO   23364185.0
population_pd2011
                       country  year alpha3        value
0                        Aruba  2011    ABW     101288.0
1  Africa Eastern and Southern  2011    AFE  537792950.0
2                  Afghanistan  2011    AFG   29249157.0
3   Africa Western and Central  2011    AFW  366489204.0
4                       Angola  2011    AGO   24259111.0
population_pd2012
                       country  year alpha3        value
0                        Aruba  2012    ABW     102112.0
1  Africa Eastern and Southern  2012    AFE  552530654.0
2                  Afghanistan  2012    AFG   30466479.0
3   Africa Western and Central  2012    AFW  376797999.0
4                       Angola  2012    AGO   25188292.0
population_pd2013
                       country  year alpha3        value
0                        Aruba  2013    ABW     102880.0
1  Africa Eastern and Southern  2013    AFE  567892149.0
2                  Afghanistan  2013    AFG   31541209.0
3   Africa Western and Central  2013    AFW  387204553.0
4                       Angola  2013    AGO   26147002.0
population_pd2014
                       country  year alpha3        value
0                        Aruba  2014    ABW     103594.0
1  Africa Eastern and Southern  2014    AFE  583651101.0
2                  Afghanistan  2014    AFG   32716210.0
3   Africa Western and Central  2014    AFW  397855507.0
4                       Angola  2014    AGO   27128337.0
population_pd2015
                       country  year alpha3        value
0                        Aruba  2015    ABW     104257.0
1  Africa Eastern and Southern  2015    AFE  600008424.0
2                  Afghanistan  2015    AFG   33753499.0
3   Africa Western and Central  2015    AFW  408690375.0
4                       Angola  2015    AGO   28127721.0
population_pd2016
                       country  year alpha3        value
0                        Aruba  2016    ABW     104874.0
1  Africa Eastern and Southern  2016    AFE  616377605.0
2                  Afghanistan  2016    AFG   34636207.0
3   Africa Western and Central  2016    AFW  419778384.0
4                       Angola  2016    AGO   29154746.0
population_pd2017
                       country  year alpha3        value
0                        Aruba  2017    ABW     105439.0
1  Africa Eastern and Southern  2017    AFE  632746570.0
2                  Afghanistan  2017    AFG   35643418.0
3   Africa Western and Central  2017    AFW  431138704.0
4                       Angola  2017    AGO   30208628.0
population_pd2018
                       country  year alpha3        value
0                        Aruba  2018    ABW     105962.0
1  Africa Eastern and Southern  2018    AFE  649757148.0
2                  Afghanistan  2018    AFG   36686784.0
3   Africa Western and Central  2018    AFW  442646825.0
4                       Angola  2018    AGO   31273533.0
population_pd2019
                       country  year alpha3        value
0                        Aruba  2019    ABW     106442.0
1  Africa Eastern and Southern  2019    AFE  667242986.0
2                  Afghanistan  2019    AFG   37769499.0
3   Africa Western and Central  2019    AFW  454306063.0
4                       Angola  2019    AGO   32353588.0
population_pd2020
                       country  year alpha3        value
0                        Aruba  2020    ABW     106585.0
1  Africa Eastern and Southern  2020    AFE  685112979.0
2                  Afghanistan  2020    AFG   38972230.0
3   Africa Western and Central  2020    AFW  466189102.0
4                       Angola  2020    AGO   33428486.0

In [39]:
poverty_data_pd = pd.read_csv('./processed_datasets/poverty_data.csv')
poverty_data_pd

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,54.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,32.3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,17.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,54.4,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN
265,Zimbabwe,ZWE,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.4,NaN,38.3,NaN,NaN,NaN,NaN,NaN

In [40]:
for year in range(1990, 2021):  # Assuming the range of years is from 1990 to 2020
    year_column = str(year)
    
    # Check if the year exists as a column in the dataframe
    if year_column in poverty_data_pd.columns:
        # Create a new DataFrame with 'Country Name', 'Country Code', and the value of that year
        df_year = poverty_data_pd[['Country Name', 'Country Code', year_column]].copy()
        
        # Rename the columns as per the required structure
        df_year = df_year.rename(columns={
            'Country Name': 'country',
            'Country Code': 'alpha3',
            year_column: 'value'
        })
        
        # Add a new column 'year' to store the current year
        df_year['year'] = year
        
        # Rearrange the columns to ['country', 'year', 'alpha3', 'value']
        df_year = df_year[['country', 'year', 'alpha3', 'value']]
        
        # Dynamically create a new DataFrame variable
        globals()[f'poverty_data_pd{year}'] = df_year

        # Optionally, print or inspect the result for a specific year
        print(f'poverty_data_pd{year}')
        print(df_year.head())

poverty_data_pd1990
                       country  year alpha3  value
0                        Aruba  1990    ABW    NaN
1  Africa Eastern and Southern  1990    AFE    NaN
2                  Afghanistan  1990    AFG    NaN
3   Africa Western and Central  1990    AFW    NaN
4                       Angola  1990    AGO    NaN
poverty_data_pd1991
                       country  year alpha3  value
0                        Aruba  1991    ABW    NaN
1  Africa Eastern and Southern  1991    AFE    NaN
2                  Afghanistan  1991    AFG    NaN
3   Africa Western and Central  1991    AFW    NaN
4                       Angola  1991    AGO    NaN
poverty_data_pd1992
                       country  year alpha3  value
0                        Aruba  1992    ABW    NaN
1  Africa Eastern and Southern  1992    AFE    NaN
2                  Afghanistan  1992    AFG    NaN
3   Africa Western and Central  1992    AFW    NaN
4                       Angola  1992    AGO    NaN
poverty_data_pd1993
                       country  year alpha3  value
0                        Aruba  1993    ABW    NaN
1  Africa Eastern and Southern  1993    AFE    NaN
2                  Afghanistan  1993    AFG    NaN
3   Africa Western and Central  1993    AFW    NaN
4                       Angola  1993    AGO    NaN
poverty_data_pd1994
                       country  year alpha3  value
0                        Aruba  1994    ABW    NaN
1  Africa Eastern and Southern  1994    AFE    NaN
2                  Afghanistan  1994    AFG    NaN
3   Africa Western and Central  1994    AFW    NaN
4                       Angola  1994    AGO    NaN
poverty_data_pd1995
                       country  year alpha3  value
0                        Aruba  1995    ABW    NaN
1  Africa Eastern and Southern  1995    AFE    NaN
2                  Afghanistan  1995    AFG    NaN
3   Africa Western and Central  1995    AFW    NaN
4                       Angola  1995    AGO    NaN
poverty_data_pd1996
                       country  year alpha3  value
0                        Aruba  1996    ABW    NaN
1  Africa Eastern and Southern  1996    AFE    NaN
2                  Afghanistan  1996    AFG    NaN
3   Africa Western and Central  1996    AFW    NaN
4                       Angola  1996    AGO    NaN
poverty_data_pd1997
                       country  year alpha3  value
0                        Aruba  1997    ABW    NaN
1  Africa Eastern and Southern  1997    AFE    NaN
2                  Afghanistan  1997    AFG    NaN
3   Africa Western and Central  1997    AFW    NaN
4                       Angola  1997    AGO    NaN
poverty_data_pd1998
                       country  year alpha3  value
0                        Aruba  1998    ABW    NaN
1  Africa Eastern and Southern  1998    AFE    NaN
2                  Afghanistan  1998    AFG    NaN
3   Africa Western and Central  1998    AFW    NaN
4                       Angola  1998    AGO    NaN
poverty_data_pd1999
                       country  year alpha3  value
0                        Aruba  1999    ABW    NaN
1  Africa Eastern and Southern  1999    AFE    NaN
2                  Afghanistan  1999    AFG    NaN
3   Africa Western and Central  1999    AFW    NaN
4                       Angola  1999    AGO    NaN
poverty_data_pd2000
                       country  year alpha3  value
0                        Aruba  2000    ABW    NaN
1  Africa Eastern and Southern  2000    AFE    NaN
2                  Afghanistan  2000    AFG    NaN
3   Africa Western and Central  2000    AFW    NaN
4                       Angola  2000    AGO    NaN
poverty_data_pd2001
                       country  year alpha3  value
0                        Aruba  2001    ABW    NaN
1  Africa Eastern and Southern  2001    AFE    NaN
2                  Afghanistan  2001    AFG    NaN
3   Africa Western and Central  2001    AFW    NaN
4                       Angola  2001    AGO    NaN
poverty_data_pd2002
                       country  year alpha3  value
0                        Aruba  2002    ABW    NaN
1  Africa Eastern and Southern  2002    AFE    NaN
2                  Afghanistan  2002    AFG    NaN
3   Africa Western and Central  2002    AFW    NaN
4                       Angola  2002    AGO    NaN
poverty_data_pd2003
                       country  year alpha3  value
0                        Aruba  2003    ABW    NaN
1  Africa Eastern and Southern  2003    AFE    NaN
2                  Afghanistan  2003    AFG    NaN
3   Africa Western and Central  2003    AFW    NaN
4                       Angola  2003    AGO    NaN
poverty_data_pd2004
                       country  year alpha3  value
0                        Aruba  2004    ABW    NaN
1  Africa Eastern and Southern  2004    AFE    NaN
2                  Afghanistan  2004    AFG    NaN
3   Africa Western and Central  2004    AFW    NaN
4                       Angola  2004    AGO    NaN
poverty_data_pd2005
                       country  year alpha3  value
0                        Aruba  2005    ABW    NaN
1  Africa Eastern and Southern  2005    AFE    NaN
2                  Afghanistan  2005    AFG    NaN
3   Africa Western and Central  2005    AFW    NaN
4                       Angola  2005    AGO    NaN
poverty_data_pd2006
                       country  year alpha3  value
0                        Aruba  2006    ABW    NaN
1  Africa Eastern and Southern  2006    AFE    NaN
2                  Afghanistan  2006    AFG    NaN
3   Africa Western and Central  2006    AFW    NaN
4                       Angola  2006    AGO    NaN
poverty_data_pd2007
                       country  year alpha3  value
0                        Aruba  2007    ABW    NaN
1  Africa Eastern and Southern  2007    AFE    NaN
2                  Afghanistan  2007    AFG   33.7
3   Africa Western and Central  2007    AFW    NaN
4                       Angola  2007    AGO    NaN
poverty_data_pd2008
                       country  year alpha3  value
0                        Aruba  2008    ABW    NaN
1  Africa Eastern and Southern  2008    AFE    NaN
2                  Afghanistan  2008    AFG    NaN
3   Africa Western and Central  2008    AFW    NaN
4                       Angola  2008    AGO    NaN
poverty_data_pd2009
                       country  year alpha3  value
0                        Aruba  2009    ABW    NaN
1  Africa Eastern and Southern  2009    AFE    NaN
2                  Afghanistan  2009    AFG    NaN
3   Africa Western and Central  2009    AFW    NaN
4                       Angola  2009    AGO    NaN
poverty_data_pd2010
                       country  year alpha3  value
0                        Aruba  2010    ABW    NaN
1  Africa Eastern and Southern  2010    AFE    NaN
2                  Afghanistan  2010    AFG    NaN
3   Africa Western and Central  2010    AFW    NaN
4                       Angola  2010    AGO    NaN
poverty_data_pd2011
                       country  year alpha3  value
0                        Aruba  2011    ABW    NaN
1  Africa Eastern and Southern  2011    AFE    NaN
2                  Afghanistan  2011    AFG   38.3
3   Africa Western and Central  2011    AFW    NaN
4                       Angola  2011    AGO    NaN
poverty_data_pd2012
                       country  year alpha3  value
0                        Aruba  2012    ABW    NaN
1  Africa Eastern and Southern  2012    AFE    NaN
2                  Afghanistan  2012    AFG    NaN
3   Africa Western and Central  2012    AFW    NaN
4                       Angola  2012    AGO    NaN
poverty_data_pd2013
                       country  year alpha3  value
0                        Aruba  2013    ABW    NaN
1  Africa Eastern and Southern  2013    AFE    NaN
2                  Afghanistan  2013    AFG    NaN
3   Africa Western and Central  2013    AFW    NaN
4                       Angola  2013    AGO    NaN
poverty_data_pd2014
                       country  year alpha3  value
0                        Aruba  2014    ABW    NaN
1  Africa Eastern and Southern  2014    AFE    NaN
2                  Afghanistan  2014    AFG    NaN
3   Africa Western and Central  2014    AFW    NaN
4                       Angola  2014    AGO    NaN
poverty_data_pd2015
                       country  year alpha3  value
0                        Aruba  2015    ABW    NaN
1  Africa Eastern and Southern  2015    AFE    NaN
2                  Afghanistan  2015    AFG    NaN
3   Africa Western and Central  2015    AFW    NaN
4                       Angola  2015    AGO    NaN
poverty_data_pd2016
                       country  year alpha3  value
0                        Aruba  2016    ABW    NaN
1  Africa Eastern and Southern  2016    AFE    NaN
2                  Afghanistan  2016    AFG   54.5
3   Africa Western and Central  2016    AFW    NaN
4                       Angola  2016    AGO    NaN
poverty_data_pd2017
                       country  year alpha3  value
0                        Aruba  2017    ABW    NaN
1  Africa Eastern and Southern  2017    AFE    NaN
2                  Afghanistan  2017    AFG    NaN
3   Africa Western and Central  2017    AFW    NaN
4                       Angola  2017    AGO    NaN
poverty_data_pd2018
                       country  year alpha3  value
0                        Aruba  2018    ABW    NaN
1  Africa Eastern and Southern  2018    AFE    NaN
2                  Afghanistan  2018    AFG    NaN
3   Africa Western and Central  2018    AFW    NaN
4                       Angola  2018    AGO   32.3
poverty_data_pd2019
                       country  year alpha3  value
0                        Aruba  2019    ABW    NaN
1  Africa Eastern and Southern  2019    AFE    NaN
2                  Afghanistan  2019    AFG    NaN
3   Africa Western and Central  2019    AFW    NaN
4                       Angola  2019    AGO    NaN
poverty_data_pd2020
                       country  year alpha3  value
0                        Aruba  2020    ABW    NaN
1  Africa Eastern and Southern  2020    AFE    NaN
2                  Afghanistan  2020    AFG    NaN
3   Africa Western and Central  2020    AFW    NaN
4                       Angola  2020    AGO    NaN

In [47]:
suicides_df = pd.read_csv('./processed_datasets/suicides_clean.csv')
print(suicides_df)

      year              country  suicides_no
0     1985  Antigua and Barbuda            0
1     1985            Argentina         1988
2     1985            Australia         1861
3     1985              Austria         2091
4     1985              Bahamas            1
...    ...                  ...          ...
2316  2016          Netherlands         1886
2317  2016                Qatar           68
2318  2016              Romania         1953
2319  2016               Sweden         1130
2320  2016             Thailand         4117

[2321 rows x 3 columns]

In [48]:

# Get unique years in the dataset
unique_years = suicides_df['year'].unique()

# Loop through each unique year and create a DataFrame
for year in unique_years:
    # Filter the DataFrame for the specific year
    df_year = suicides_df[suicides_df['year'] == year].copy()
    
    # Dynamically create a new DataFrame variable for each year
    globals()[f'suicides_df_{year}'] = df_year
    
    # Optionally, print or inspect the result for a specific year
    print(f'\nsuicides_df_{year}')
    print(df_year.head())

suicides_df_1985
   year              country  suicides_no
0  1985  Antigua and Barbuda            0
1  1985            Argentina         1988
2  1985            Australia         1861
3  1985              Austria         2091
4  1985              Bahamas            1

suicides_df_1986
    year              country  suicides_no
48  1986  Antigua and Barbuda            0
49  1986            Argentina         2284
50  1986            Australia         2044
51  1986              Austria         2139
52  1986             Barbados            8

suicides_df_1987
     year              country  suicides_no
96   1987              Albania           73
97   1987  Antigua and Barbuda            0
98   1987            Argentina         2286
99   1987            Australia         2164
100  1987              Austria         2069

suicides_df_1988
     year              country  suicides_no
150  1988              Albania           63
151  1988  Antigua and Barbuda            0
152  1988            Argentina         2354
153  1988            Australia         2172
154  1988              Austria         1851

suicides_df_1989
     year              country  suicides_no
199  1989              Albania           68
200  1989  Antigua and Barbuda            0
201  1989            Argentina         2247
202  1989            Australia         2066
203  1989              Austria         1898

suicides_df_1990
     year              country  suicides_no
251  1990  Antigua and Barbuda            1
252  1990            Argentina         2140
253  1990              Armenia           93
254  1990            Australia         2202
255  1990              Austria         1825

suicides_df_1991
     year              country  suicides_no
315  1991  Antigua and Barbuda            0
316  1991            Argentina         1951
317  1991              Armenia           80
318  1991            Australia         2288
319  1991              Austria         1769

suicides_df_1992
     year              country  suicides_no
379  1992              Albania           47
380  1992  Antigua and Barbuda            0
381  1992            Argentina         2184
382  1992              Armenia           83
383  1992            Australia         2251

suicides_df_1993
     year              country  suicides_no
444  1993              Albania           73
445  1993  Antigua and Barbuda            1
446  1993            Argentina         2230
447  1993              Armenia          106
448  1993            Australia         2038

suicides_df_1994
     year              country  suicides_no
509  1994              Albania           50
510  1994  Antigua and Barbuda            0
511  1994            Argentina         2241
512  1994              Armenia          112
513  1994            Australia         2283

suicides_df_1995
     year              country  suicides_no
577  1995              Albania           88
578  1995  Antigua and Barbuda            0
579  1995            Argentina         2204
580  1995              Armenia          130
581  1995                Aruba            8

suicides_df_1996
     year    country  suicides_no
655  1996    Albania           89
656  1996  Argentina         2229
657  1996    Armenia           87
658  1996  Australia         2426
659  1996    Austria         1779

suicides_df_1997
     year    country  suicides_no
732  1997    Albania          170
733  1997  Argentina         2184
734  1997    Armenia           77
735  1997  Australia         2646
736  1997    Austria         1592

suicides_df_1998
     year              country  suicides_no
809  1998              Albania          154
810  1998  Antigua and Barbuda            0
811  1998            Argentina         2347
812  1998              Armenia           66
813  1998            Australia         2632

suicides_df_1999
     year              country  suicides_no
888  1999              Albania          139
889  1999  Antigua and Barbuda            0
890  1999            Argentina         2423
891  1999              Armenia           67
892  1999                Aruba            9

suicides_df_2000
     year              country  suicides_no
971  2000              Albania           54
972  2000  Antigua and Barbuda            2
973  2000            Argentina         2774
974  2000              Armenia           61
975  2000                Aruba           10

suicides_df_2001
      year              country  suicides_no
1057  2001              Albania          119
1058  2001  Antigua and Barbuda            2
1059  2001            Argentina         3132
1060  2001              Armenia           60
1061  2001                Aruba            4

suicides_df_2002
      year              country  suicides_no
1145  2002              Albania          133
1146  2002  Antigua and Barbuda            0
1147  2002            Argentina         3162
1148  2002              Armenia           74
1149  2002                Aruba            9

suicides_df_2003
      year              country  suicides_no
1231  2003              Albania          124
1232  2003  Antigua and Barbuda            1
1233  2003            Argentina         3289
1234  2003              Armenia           59
1235  2003                Aruba            2

suicides_df_2004
      year              country  suicides_no
1317  2004              Albania          146
1318  2004  Antigua and Barbuda            2
1319  2004            Argentina         3121
1320  2004                Aruba            8
1321  2004            Australia         2114

suicides_df_2005
      year              country  suicides_no
1401  2005              Albania            0
1402  2005  Antigua and Barbuda            0
1403  2005            Argentina         3058
1404  2005                Aruba           10
1405  2005              Austria         1399

suicides_df_2006
      year              country  suicides_no
1485  2006              Albania            0
1486  2006  Antigua and Barbuda            0
1487  2006            Argentina         3108
1488  2006              Armenia           78
1489  2006                Aruba            9

suicides_df_2007
      year              country  suicides_no
1570  2007              Albania          124
1571  2007  Antigua and Barbuda            1
1572  2007            Argentina         2946
1573  2007              Armenia           71
1574  2007                Aruba            8

suicides_df_2008
      year              country  suicides_no
1656  2008              Albania          160
1657  2008  Antigua and Barbuda            0
1658  2008            Argentina         3059
1659  2008              Armenia           63
1660  2008                Aruba            4

suicides_df_2009
      year              country  suicides_no
1741  2009              Albania            0
1742  2009  Antigua and Barbuda            0
1743  2009            Argentina         2884
1744  2009              Armenia           53
1745  2009                Aruba            4

suicides_df_2010
      year    country  suicides_no
1830  2010    Albania           96
1831  2010  Argentina         2943
1832  2010    Armenia           73
1833  2010      Aruba            7
1834  2010  Australia         2420

suicides_df_2011
      year    country  suicides_no
1918  2011  Argentina         2912
1919  2011    Armenia           67
1920  2011      Aruba            9
1921  2011  Australia         2392
1922  2011    Austria         1288

suicides_df_2012
      year              country  suicides_no
2004  2012  Antigua and Barbuda            0
2005  2012            Argentina         3248
2006  2012              Armenia           79
2007  2012            Australia         2580
2008  2012              Austria         1276

suicides_df_2013
      year              country  suicides_no
2085  2013  Antigua and Barbuda            0
2086  2013            Argentina         2987
2087  2013              Armenia           67
2088  2013            Australia         2608
2089  2013              Austria         1291

suicides_df_2014
      year              country  suicides_no
2165  2014  Antigua and Barbuda            0
2166  2014            Argentina         3231
2167  2014              Armenia           58
2168  2014            Australia         2891
2169  2014              Austria         1314

suicides_df_2015
      year              country  suicides_no
2243  2015  Antigua and Barbuda            1
2244  2015            Argentina         3073
2245  2015              Armenia           74
2246  2015            Australia         3027
2247  2015              Austria         1251

suicides_df_2016
      year         country  suicides_no
2305  2016         Armenia           67
2306  2016         Austria         1201
2307  2016         Croatia          683
2308  2016          Cyprus           36
2309  2016  Czech Republic         1318

In [ ]:
#Giga_pd = TODO Bence